% rebase("base.html", igra=igra)
<style>
    tr{
        height: 50px;
        width: 50px;
    }
</style>
<div class='container' align= 'center'>
    <div class='jumbotron' align='center'>
        <table class='table table-bordered table-striped '>
            <tr>
                <th class='text-center'>0</th>
                <th class='text-center'>1</th>
                <th class='text-center'>2</th>
                <th class='text-center'>3</th>
                <th class='text-center'>4</th>
                <th class='text-center'>5</th>
                <th class='text-center'>6</th>
            </tr>
            <tr>
                <td align='center'>{{igra.polje[0][0]}}</td>
                <td align='center'>{{igra.polje[0][1]}}</td>
                <td align='center'>{{igra.polje[0][2]}}</td>
                <td align='center'>{{igra.polje[0][3]}}</td>
                <td align='center'>{{igra.polje[0][4]}}</td>
                <td align='center'>{{igra.polje[0][5]}}</td>
                <td align='center'>{{igra.polje[0][6]}}</td>


            </tr>
            <tr>
                <td align='center'>{{igra.polje[1][0]}}</td>
                <td align='center'>{{igra.polje[1][1]}}</td>
                <td align='center'>{{igra.polje[1][2]}}</td>
                <td align='center'>{{igra.polje[1][3]}}</td>
                <td align='center'>{{igra.polje[1][4]}}</td>
                <td align='center'>{{igra.polje[1][5]}}</td>
                <td align='center'>{{igra.polje[1][6]}}</td>


            </tr>
            <tr>
                <td align='center'>{{igra.polje[2][0]}}</td>
                <td align='center'>{{igra.polje[2][1]}}</td>
                <td align='center'>{{igra.polje[2][2]}}</td>
                <td align='center'>{{igra.polje[2][3]}}</td>
                <td align='center'>{{igra.polje[2][4]}}</td>
                <td align='center'>{{igra.polje[2][5]}}</td>
                <td align='center'>{{igra.polje[2][6]}}</td>


            </tr>
            <tr>
                <td align='center'>{{igra.polje[3][0]}}</td>
                <td align='center'>{{igra.polje[3][1]}}</td>
                <td align='center'>{{igra.polje[3][2]}}</td>
                <td align='center'>{{igra.polje[3][3]}}</td>
                <td align='center'>{{igra.polje[3][4]}}</td>
                <td align='center'>{{igra.polje[3][5]}}</td>
                <td align='center'>{{igra.polje[3][6]}}</td>


            </tr>
            <tr>
                <td align='center'>{{igra.polje[4][0]}}</td>
                <td align='center'>{{igra.polje[4][1]}}</td>
                <td align='center'>{{igra.polje[4][2]}}</td>
                <td align='center'>{{igra.polje[4][3]}}</td>
                <td align='center'>{{igra.polje[4][4]}}</td>
                <td align='center'>{{igra.polje[4][5]}}</td>
                <td align='center'>{{igra.polje[4][6]}}</td>


            </tr>
            <tr>
                <td align='center'>{{igra.polje[5][0]}}</td>
                <td align='center'>{{igra.polje[5][1]}}</td>
                <td align='center'>{{igra.polje[5][2]}}</td>
                <td align='center'>{{igra.polje[5][3]}}</td>
                <td align='center'>{{igra.polje[5][4]}}</td>
                <td align='center'>{{igra.polje[5][5]}}</td>
                <td align='center'>{{igra.polje[5][6]}}</td>


            </tr>
        </table>
        % if igra.zmagovalna_poteza(1):
        <div class='container' align= 'center'>
            <div class='jumbotron' align='center'>
                <h1>Zmagal je igralec 1!</h1>
            </div>
        </div>
        % elif igra.zmagovalna_poteza(2):
        <div class='container' align= 'center'>
            <div class='jumbotron' align='center'>
                <h1>Zmagal je igralec 2!</h1>
            </div>
        % elif igra.mozne_poteze() == []:
        <div class='container' align= 'center'>
            <div class='jumbotron' align='center'>
                <h1>Igra je neodločena!</h1>
        </div>
        % elif igra.igralec_na_vrsti() == 1 :
        <p>
                <form action ='/igra_kos1/' method='POST'>
                    Izbira <b>igralec 1</b>. Število stolpca (0-6): <input type='number' min='0' max='6' name='stolpec_kos1' maxlength='1' required='required'>
                    <button type='submit' class='btn btn-danger'>Dodaj potezo</button>
                </form>
        </p>
        % else:
        <p>
            <form action ='/igra_kos2/' method='POST'>
                Izbira <b>igralec 2</b>. Število stolpca (0-6): <input type='number' min='0' max='6' name='stolpec_kos2' maxlength='1' required='required'>
                <button type='submit' class='btn btn-danger'>Dodaj potezo</button>
            </form>
        </p>
    </div>
</div>
% end

